<div class="container new-user-question-form">
  <%= erb :'/_errors', layout: false, locals: { errors: @errors } %>

  <h2>Ask a Question:</h2>

  <form class="new-question-form" method="post" action="/questions">
    <input type="text" name="question[title]" placeholder="Question Title">
    <textarea name="question[body]">Your Question</textarea>
    <input type="submit" value="Create">
  </form>
</div>
