<div class="container center-align new-user-question-form">
  <%= erb :'/_errors', layout: false, locals: { errors: @errors } %>

  <h2>Ask a Question:</h2>

  <div class="row">
    <form class="col s12 new-question-form" method="post" action="/questions">
      <div class="row">
        <div class="input-field col s6">
          <input id="question_title" name="question[title]" type="text" class="validate">
          <label for="input_text" class="left-align">Input text</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="question_body" name="question[body]" class="materialize-textarea validate"></textarea>
          <label class="left-align" accesskey=""for="textarea1">Textarea</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Create
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
