.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;

}

.main-title {
  margin: 0 auto;
  padding: 0px 0px 20px 40px;
}

.question-title {
  margin: 0 auto;
  padding-left: 90px;
}

.sub-title {
  margin: 0 auto;
  padding: 0px 20px 20px 40px;
}

.questions-title {
  margin: 0 auto;
  padding-left: 8%;
}

#new-question {
  margin-left: 20%;
}

#btn-question-new {
  margin-right: 33%;
}

.edit-btn {
  display: inline;
}

.delete-btn {
  display: inline;
}

.question-body {
  margin-left: 5%;
  font-size: 18px;
}

.side-button {
  margin-bottom: 5%;
}
