<div class="container edit-answer-form">
  <h6>Edit Your Answer:</h6>

  <form class="edit-answer-form" method="post" action="/questions/<%= @question.id %>/answers/<%= @answer.id %>">
    <input type="hidden" value="put" name="_method">
    <textarea name="answer[text]"><%= @answer.text %></textarea>
    <input type="submit" value="Update">
  </form>
</div>
