<div class="container new-user-answer-form">
  <%= erb :'/_errors', layout: false, locals: { errors: @errors } %>

  <form class="new-answer-form" method="post" action="/questions/<%= @question.id %>/answers">
    <textarea name="answer[text]">Your Answer</textarea>
    <input type="submit" value="Create">
  </form>
</div>
