<div class="questions-title">
  <h2>Questions:</h2>
  <% if @questions %>
  <ul>
    <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>Sorry our site is down for maintenance. Please check back for questions later.</p>
  <% end %>
</div>
