<div class="headers container">
  <h1>Welcome to Max-Stack!</h1>
  <h3>Better than your average stack.</h3>
</div>

<div class="container">
  <h2>Questions:</h2>
  <% if @questions %>
  <ul>
    <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% end %>
  </ul>
  <% else %>
    <p>Sorry our site is down for maintenance. Please check back for questions later.</p>
  <% end %>
</div>
